/*
* Globals
*/

/* Links */
a,
a:focus,
a:hover {
    color: #fff;
}

h1 {
    display: inline-block;
    border-bottom: 2px solid #00cec9;
    line-height: 1.5em;
}

/* Custom default button */
.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus {
    color: #333;
    text-shadow: none; /* Prevent inheritance from `body` */
    background-color: #fff;
    border: .05rem solid #fff;
}


/*
    * Base structure
    */

html,
body {
    font-family: 'Roboto', sans-serif;
    height: 100%;
    background-color: #fff;
}

body {
    display: -ms-flexbox;
    display: flex;
    color: #2d3436;
    box-shadow: inset 0 0 5rem rgba(0, 0, 0, .5);
}

.cover-container {
    max-width: 42em;
}


/*
    * Header
    */
.masthead {
    margin-bottom: 2rem;
}

.masthead-brand {
    margin-bottom: 0;
    margin-top: -5px;
    margin-left: 20px;
}

.nav-masthead {
    margin-top: -2px;
}

.nav-masthead .nav-link {
    padding: .25rem 0;
    font-weight: 500;
    color: rgba(255, 255, 255, .5);
    background-color: transparent;
}

.nav-masthead .nav-link:hover,
.nav-masthead .nav-link:focus {
    border-bottom-color: rgba(255, 255, 255, .25);
}

.nav-masthead .nav-link + .nav-link {
    margin-left: 1rem;
    font-weight: 500;
    transition: color 0.3s ease-in;
}

.nav-masthead .nav-link:hover, .nav-masthead .nav-link:focus {
    border-bottom: unset !important;
    color: #fff;
}

.nav-masthead .active {
    color: #fff;
    border-bottom-color: #00cec9 !important;
    border-bottom-width: 2px;
    font-weight: 700;
}

@media (min-width: 48em) {
    .masthead-brand {
        float: left;
    }
    .nav-masthead {
        float: right;
    }
}


/*
    * Cover
    */
.cover {
    padding: 0 1.5rem;
    margin-top: 60px;
}
.cover .btn-lg {
    padding: .75rem 1.25rem;
    font-weight: 700;
}


/*
    * Footer
    */
.mastfoot {
    color: rgba(255, 255, 255, .5);
}


.body-container {
    z-index: 10;
}
.flex-column * {
    z-index: 10;
}
#yt-background-video {
    position: absolute;
    left: 0;
    z-index: 0;
    top: 0px;
    width: 100%;
    height: 100%;
    overflow: hidden;
    box-shadow: 0px 3px 4px #9c9c9c;
    bottom: 0;
}
[data-view="home"] {
    color: #fff;
}
[data-view="home"] .lead {
    margin-top: 20px;
}
.btn {
    background-color: #0984e3;
    color: #fff;
    opacity: 0.8;
    transition: opacity 0.3s ease-in;
    border-color: #016bbd;
}
.btn:hover {
    background-color: #0984e3;
    opacity: 1;
    color: #fff;
    border-color: #016bbd;
}

header {
    position: fixed;
    z-index: 10000 !important;
    width: 100%;
    left: 0;
    top: 0;
    height: 60px;
    transition: background-color 0.3s ease-in;
}

header.sticky {
    height: 60px;
    background-color: #000000bd;
    box-shadow: 0px -1px 9px #000;
}

[data-view="home"] main {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
.masthead-brand {
    border-bottom: 2px solid #00cec9;
}
[data-view] {
    min-height: 100%;
}